.textRegular {
  font-family: "InterRegular";
  padding-bottom: 50px;
  font-weight: 400;
}
.textMedium {
  font-family: "InterMedium";
  padding-bottom: 50px;
  font-weight: 500;
}
.textSemiBold {
  font-family: "InterSemiBold";
  padding-bottom: 50px;
  font-weight: 600;
}
.textBold {
  padding-bottom: 50px;
  font-family: "InterBold";
  font-weight: 700;
}
